<!-- 결제 완료 창-->
<!-- 결제 정보 확인 -->
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
<style>

    h2 {position:absolute;
      font-size:20px;
      top: 45%;
      left:18%;}

    .btn {
       border:none;
       background-color:inherit;
       padding:14px; 15px;
       font-size:20px;
       cursor:pointer;
       display:inline-block;
       width:230px; height:130px;
       position:absolute;
       font-size:50px;
        }

    .goback { top:92%;
          left:2.1%; }

    .gobuy {top: 92%;
        left: 50%; }

</style>
</head>

<body>

<a><img src="https://i.ibb.co/mX6tNzq/i-Phone-XR-XS-Max-11-26.png" border="0"></a>



<div>
<button type="button" class="btn basket" onClick="location.href='/cartcart/'"> 취소하기 </button>
<button type="button" class="btn gobuy"> <a href="/kakaopay/"> 쇼핑하기 </button>
</body>

</html>