<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>
    h2 { text-align:center;
        } 
    
    .btn {
            border:none;
            background-color: inherit;
            padding:14px; 15px;
            font-size:23px;
            cursor:pointer;
            display:inline-block;
            width:180px; height:130px;
            
            
            }
        
        .btn:hover {background: #eee;}
        
        .fastfood1 {color:black;
             top:80%; 
             left:38%; }
    
    
       
</style>
</head>
<bodY>
<div>

    <h2> 원하는 음식점을 선택해주세요. </h2>
  <center>
    <br> <button type="button" class="btn fastfood1"> <a href="http://127.0.0.1:8000/info/"> KFC </button>
    <br> <button type="button" class="btn fastfood2"> 맥도날드 </button>
    <br> <button type="button" class="btn fastfood3"> 롯데리아 </button>
    <br> <button type="button" class="btn fastfood4"> 맘스터치 </button>
    <br> <button type="button" class="btn fastfood5">  등 </button>
    <br> <button type="button" class="btn fastfood6">  등 </button>
    <br> <button type="button" class="btn fastfood7"> 등 </button>
  </center>
</div>
    
</body>
</html>